on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04

    if: github.event_name != 'pull_request' ||
      github.event.pull_request.head.repo.full_name !=
      github.event.pull_request.base.repo.full_name

    steps:
    - uses: actions/checkout@v3
    - uses: lingy-lang/gha-perl-test-runner@main
